@import '../../Assets/variables.scss';

.projects-wrapper {
    margin-top: 6em;
    text-align: center;
}

.project-cards-wrapper {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 150px;
}

.card {
    border-radius: 25px;
    min-height: 500px;
}

.card-body {
    height: 90%;
    box-shadow: 0 10px 16px 0 #7e7e7e !important;
    border-radius: 25px;
}

.card-body-img {
    opacity: 1;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

.card-body-hidden {
    box-shadow: 0 10px 16px 0 #7e7e7e !important;
    border-radius: 25px;
    opacity: 0;
    transition: opacity 0.5s;
    color: $card-body-hidden-color;
    height: 100%;
    width: 100%;
    background-color: $card-bg;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.card-body-hidden p {
    padding: 0 2rem;
    font-size: 20px;
}

.card-body-hidden-tech-list {
    display: flex;
    justify-content: space-evenly;
    color: black;
}

.card-body-hidden-tech {
    border: 1px solid black;
    border-radius: 10px;
    padding: 0.5rem;
    margin: 20px 10px 0 0;
    border: 1px solid $card-tech-border;
    border-radius: 12px;
    background: $card-tech-bg;
    color: $card-tech-color;
}

.card:hover {
    .card-body-hidden {
        opacity: 1;
    }
}