@import '../../Assets/variables.scss';

.projects-wrapper {
    text-align: center;
    margin-top: 6em;
}

.project-cards {
    display: flex;
    justify-content: space-around;
    padding: 3rem;
}

.project-cards-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    row-gap: 6em;
}

.card {
    width: 90%;
    margin-left: 5%;
    margin-top: 4em;
    height: 400px;
    background-color: rgba(73,103,139,.05);
    position: relative;
    border-radius: 25px;
    text-align: center;
    box-shadow: 0 10px 16px 0 #7e7e7e !important;
}

.card-img {
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 0.5s;
    border-radius: 25px;
}

.card-inner {
    position: absolute;
    top: 10%;
    opacity: 0;
    transition: opacity 0.5s;
    color: #fff;
}

.card:hover {
    .card-img {
        opacity: 0.2;
    }
    .card-inner {
        opacity: 1;
    }
}

.card-inner p {
    color: $primary-p-text-color;
    margin-left: 5%;
    width: 90%;
    font-size: 20px;
}

.card-inner-title {
    font-weight: 400;
    margin-bottom: 2%;
}

.card-inner-tech-list {
    display: flex;
    justify-content: space-evenly;
    color: black;
}

.card-inner-tech {
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 10px;
    padding: 0.5rem;
    border: 1px solid $card-tech-border;
    border-radius: 12px;
    background: $card-tech-bg;
    color: $card-tech-color;
}

.card-inner-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-inner-link a,
.card-inner-link a:active {
    text-decoration: none;
    color: $anchor-link-color;
}

.card-inner-link a:hover {
    color: $primary-text-color-hover;
}


.imgCard-wrapper {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    // width: 50px;
    // height: 50px;
    // column-gap: 80%;
    // row-gap: 80%;
}

.imgCard-wrapper img {
    // max-width: 100%;
    // max-height: 100%;
}

.imgCard-wrapper p {
    margin: 0;
}

.tech-img {
    width: 80px;
    height: 80px;
}

