@import '../../Assets/variables.scss';

.resume-wrapper {
    margin-top: 10em;
    text-align: center;
}

.resume-icon {
    margin-top: 4rem;
    color: $anchor-link-color;
    transition: color ease-in-out 300ms;
}

.resume-icon:active,
.resume-icon:visited {
    color: $anchor-link-color;
}

.resume-icon:hover {
    color: $primary-text-color-hover;
}

.dummy {
    height: 160px;
}

.go-to-top {
    position: absolute;
    right: 2rem;
    width: 40px;
    height: 40px;
    background: $anchor-link-color;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 1px #19191938;
    cursor: pointer;
}

.go-to-top:hover {
    background-color: $primary-text-color-hover;
}

.go-to-top-icon {
    color: $go-to-top-icon-color;
}