:root {
    --background-color: white;
    --primary-text-color: #021b39;
    --primary-text-color-hover: #B46506;
    --secondary-text-color: #fff;
    --heading-text-color: #3a80d4;
    --primary-p-text-color: #021b39;
    --card-tech-border: #b69dd0;
    --card-tech-bg: #d8bdf56e;
    --card-tech-color: #723ba7;
    --anchor-link-color: #551A8B;
 
}
$bg-color: var(--background-color);
$primary-text-color: var(--primary-text-color);
$primary-text-color-hover: var(--primary-text-color-hover);
$secondary-text-color: var(--secondary-text-color);
$heading-text-color: var(--heading-text-color);
$primary-p-text-color: var(--primary-p-text-color);
$card-tech-border: var(--card-tech-border);
$card-tech-bg: var(--card-tech-bg);
$card-tech-color: var(--card-tech-color);
$anchor-link-color: var(--anchor-link-color);