:root {
    --background-color: white;
    --primary-text-color: #021b39;
    --primary-text-color-hover: #B46506;
 
}
$bg-color: var(--background-color);
$primary-text-color: var(--primary-text-color);
$primary-text-color-hover: var(--primary-text-color-hover);