@import './Assets/variables.scss';

body {
  background-color: $bg-color;
  font-family: 'Oswald', sans-serif;
}

#tsparticles {
  background: linear-gradient(-45deg, #262491, #245a91, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 12s ease infinite;
  height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
